body {
    font-family: sans-serif;
}

.robot {
    stroke: silver;
    fill: #AD343E;
}

.can {
    stroke: silver;
    fill: #8BC34A;
    fill-opacity: 100%;
}

.trace {
    fill: #3F51B5;
    fill-opacity: 15%;
}

.box {
    border: 1px solid #555555;
}

.container {
    width: 800px;
    float: none;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.text {
    width: 800px;
    float: none;
    vertical-align: middle;
    text-align: left;
    margin: auto;
}

.left {
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

span {
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

p {
    text-align: left;
}

.right {
    float: left;
    display: inline;
}
